@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Electrolize", sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('img/solid-navy-blue-concrete-textured-wall.jpg'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

header {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}



main {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: white; 
  
}


.contentt{
    color: white;
}

section{
    padding: 50px;
    padding-bottom: 350px;
}

.video{
    text-align: center; 
}

video{
    max-width: 100%; 
    height: auto;

}



footer {
    background-color: rgba(0, 0, 0, 0.6); 
    color: rgb(218, 218, 218);
    text-align: center;
    padding: 5px 0;
}


